# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.swp
*.swo

websrv/dialog/*
website/website
web-srv/web-srv
websrv/websrv
brain/brain
db/*
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
